**
!cmd
!internal
!enduro.toml
!go.mod
!go.sum
!main.go
!xsdval.py
!repackage_sip.py
!ablieferung.xsd
!archivischeNotiz.xsd
!archivischerVorgang.xsd
!arelda.xsd
!base.xsd
!datei.xsd
!dokument.xsd
!dossier.xsd
!ordner.xsd
!ordnungssystem.xsd
!ordnungssystemposition.xsd
!paket.xsd
!provenienz.xsd
!zusatzDaten.xsd
!bagit.txt
